class {{ resource_name }}(Resource):
{% for verb, verb_config in path_config.items() %}
    def {{ verb }}(self{% if 'parameters' in verb_config and verb_config['parameters']%}{% for parameter in verb_config['parameters'] %}{%if parameter['in'] == "path" %}, {{parameter['name']}}{% if parameter['reqired'] and parameter['required'] != "true" %}=None{% endif %}{% endif %}{% endfor %}{% endif %}):
{% if 'parameters' in verb_config and verb_config['parameters'] %}
{% for parameter in verb_config['parameters'] %}
{% if parameter['in'] == "path" %}
{% if parameter['schema']['type'] == 'integer' and "400" in verb_config['responses'] %}
        try:
            {{ parameter['name'] }} = int({{ parameter['name'] }})
        except (TypeError,ValueError):
            return "{{ verb_config['responses']['400']['description'] }}", 400
{% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if "200" in verb_config['responses'] %}
{% if "content" in verb_config['responses']['200'] %}
{% if verb_config['responses']['200']['content']['application/json']['schema']['type'] == "array" %}
        response = []
        for x in range(1, random.randint(2,100)):
            temp_object = {{schemas[verb_config['responses']['200']['content']['application/json']['schema']['items']['$ref'].split('/')[-1]]['properties']}}
            response_object = {}
            for field_name, description in temp_object.items():
                if description['type'] == "string":
                    if 'x-faker' not in description:
                        description['x-faker'] = 'text'
                    response_object[field_name] = get_fake_type(description['x-faker'])
                elif description['type'] == "integer":
                    response_object[field_name] = random.randint(1,100000)
            response.append(response_object)
{% endif %}
{% else %}
        response = {}
{% endif %}
        return json.dumps(response), 200
{% elif "204" in verb_config['responses'] %}
        return "{{ verb_config['responses']['204']['description'] }}", 204
{% elif "201" in verb_config['responses'] %}
        return "{{ verb_config['responses']['201']['description'] }}", 201
{% elif "409" in verb_config['responses'] %}
        return "{{ verb_config['responses']['409']['description'] }}", 409
{% endif %}
{% endfor %}

api.add_resource({{ resource_name }}, '{{path.replace('{','<').replace('}', '>')}}')