from flask import Flask
from flask_restful import Resource, Api
from faker import Faker
import json
import random

fake = Faker()


def get_fake_type(fake_type):
    if fake_type == 'name':
        return fake.name()
    elif fake_type == "email":
        return fake.email()
    elif fake_type == "email":
        return fake.text()



app = Flask(__name__)
api = Api(app)

{% for route in routes %}
{{route}}

{% endfor %}

if __name__ == "__main__":
   app.run(debug={{ app_settings.debug }}, port={{ app_settings.port }})
